.title {
    font-size: 1.4rem;
    text-shadow: 3px 3px 3px rgba(78, 78, 78, 0.2);
}

.addButton {
    display: flex;
    justify-content: flex-end;
}

.subCategoryOption {
    padding-right: .5rem;
    display: flex;
    justify-content: flex-end;
}


input[type="text"].custom,
input[type="number"] {
    border: none;
    border-bottom: 1px solid #656363;
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
    width: 190px;
    font-family: "Campton";
    border-radius: .5rem;
    margin-right: 1rem;
}

textarea {
    border-radius: .5rem;
    width: 100%;
    padding: .5rem;
}

select {
    padding: 8px;
    border-radius: .5rem;
    width: 205px;
}

input[type="file"] {
    border-radius: .2rem;
    border: none;
}

.error {
    color: red;
}

.block {
    padding-top: 2rem;

    .columnDescriptions {
        display: flex;
        font-size: 1rem;
        font-weight: bold;
        text-shadow: 3px 3px 3px rgba(78, 78, 78, 0.2);
        width: fit-content;
    }

    :nth-last-child(5) {
        justify-content: center;
    }

    :nth-last-child(6) {
        justify-content: center;
    }

    :nth-last-child(-n + 2) {
        justify-content: center;
    }

    .spinnerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 100%;
    }

    .productRow {
        border-radius: .3rem;
        padding: .7rem 0;
        cursor: pointer;

        .discount {
            display: flex;
            justify-content: center;
        }

        .color {
            display: flex;
            justify-content: center;
        }

        .actions {
            display: flex;
            align-items: center;
            justify-self: center;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;

            :hover {
                color: rgb(0, 0, 255);
            }
        }
    }

    .oddRow {
        background-color: #f0f0f0;
    }

    .partialId {
        display: flex;
        position: relative;
        overflow: hidden;

        .visiblePart {
            opacity: 0.9;
        }

        .partialVisiblePart {
            opacity: 0.6;
        }

        .partialVisiblePartSecond {
            opacity: 0.3;
        }

        .invisiblePart {
            opacity: 0;
        }
    }

    .spin {
        padding-left: 2rem;
    }

}