.mainContainer {
    height: 98vh;

    .leftContainer {
        padding: .5rem;
        display: flex;

        .firstColumn {
            height: fit-content;
            width: 100%;

            .details {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                cursor: pointer;

                .icon {
                    padding: .2rem;
                    color: #0D6EFD;
                    font-size: 1.6rem;
                }

                .name {
                    display: flex;
                    align-items: center;
                    color: #8CB7F5;
                    font-size: 1rem;
                    font-weight: bold;
                    text-shadow: 3px 3px 3px rgba(78, 78, 78, 0.2);
                }

                .downArrowIcon {
                    background-color: #fbfaf9;
                    color: #0D6EFD;
                    padding: .2rem;
                    font-size: .7rem;
                    border-radius: 1rem;
                    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .rightContainer {
        background-color: #fbfaf9;
    }
}